@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TempleTours.Models.ViewModels.AppointmentFormViewModel
@*<div>@Model.TimeSlot.TimeId</div>*@

@*<form method="post" asp-controller="Home" asp-action="SignUpForm">
    <label asp-for="@Model.Appointment.GroupName">Group Name</label>
    <input type="text" asp-for="@Model.Appointment.GroupName" />
    <br />
    <label asp-for="@Model.Appointment.GroupSize">Group Size</label>
    <input type="number" asp-for="@Model.Appointment.GroupSize" />
    <br />
    <label asp-for="@Model.Appointment.EmailAddress">Email</label>
    <input type="text" asp-for="@Model.Appointment.EmailAddress" />
    <br />
    <label asp-for="@Model.Appointment.Phone">Phone Number</label>
    <input asp-for="@Model.Appointment.Phone" />
    <br />
    <label asp-for="@Model.Appointment.TimeSlot">Appointment Time</label>
    <input type="text" value="@Model.TimeSlot.TimeDescription.ToString("h:mm tt")" readonly />
    <input type="hidden" asp-for="@Model.Appointment.TimeSlot" value="@Model.TimeSlot.TimeDescription" />
    <input type="hidden" name="timeId" value="@Model.TimeSlot.TimeId" />
    <input type="submit" value="Add" />
    <div asp-validation-summary="All"></div>
</form>*@