@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TempleTours.Models.ViewModels.AppointmentFormViewModel
@*<div>@Model.TimeSlot.TimeId</div>*@
<div class="container" style="border: solid 2px black; margin-top: 100px;">
    <h1>Please fill out the form below</h1>
    <h2>To schedule your group tour of the Layton Utah Temple</h2>
    <form method="post" asp-controller="Home" asp-action="SignUpForm">
        <div class="mb-3">
            <label asp-for="@Model.Appointment.GroupName">Group Name</label>
            <br />
            <input type="text" asp-for="@Model.Appointment.GroupName" />
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Appointment.GroupSize">Group Size</label>
            <br />
            <input type="number" asp-for="@Model.Appointment.GroupSize" />
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Appointment.EmailAddress">Email</label>
            <br />
            <input type="text" asp-for="@Model.Appointment.EmailAddress" />
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Appointment.Phone">Phone Number</label>
            <br />
            <input asp-for="@Model.Appointment.Phone" />
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Appointment.TimeSlot">Appointment Time</label>
        </div>
        <input type="text" value="@Model.TimeSlot.TimeDescription.ToString("h:mm tt")" readonly style="background-color: lightgray;"/>
        <input type="hidden" asp-for="@Model.Appointment.TimeSlot" value="@Model.TimeSlot.TimeDescription" />
        <input type="hidden" name="timeId" value="@Model.TimeSlot.TimeId" />
        <!--<input type="submit" value="Add" />-->
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>
